# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~

# Runtime roles 
roles/**
!roles/requirements.yml

# No Unsecure files
*pwd*
*pass*
*password*
*.txt

# No binaries or compressed files
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz